<robot
  name="robot4">
  <link name="world"/>

  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.05" rpy="0 0 0"/>
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.000924171029801402 6.7563657632076E-18 0.0353203207527367"
        rpy="0 0 0" />
      <mass
        value="9.43905709432116" />
      <inertia
        ixx="0.0657212115592583"
        ixy="-5.90378076667638E-09"
        ixz="-0.000282412203298375"
        iyy="0.1003437652929"
        iyz="-2.92412060299371E-18"
        izz="0.159931226601387" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_sr11">
    <inertial>
      <origin
        xyz="0.105444812837517 0.000176208657527988 -0.000100750414623013"
        rpy="0 0 0" />
      <mass
        value="0.0987537674712606" />
      <inertia
        ixx="7.45786939053088E-06"
        ixy="-5.27559576341424E-06"
        ixz="2.48734564843251E-06"
        iyy="0.000433153742795211"
        iyz="1.53285669171519E-07"
        izz="0.000437445202906458" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_sr11.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.992156862745098 1 0.00784313725490196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_sr11.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_sr11"
    type="revolute">
    <origin
      xyz="-0.109999999999998 -0.132000000000001 0.0775"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_sr11" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0.3"
      upper="1.5"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_sr21">
    <inertial>
      <origin
        xyz="-0.112639665983569 0.0116816893327502 -0.00283864972292744"
        rpy="0 0 0" />
      <mass
        value="0.10234077696469" />
      <inertia
        ixx="7.71497397571781E-06"
        ixy="6.7608199529756E-07"
        ixz="-3.23974979323537E-06"
        iyy="0.000479099662701505"
        iyz="9.31990435048602E-08"
        izz="0.000483611718898698" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_sr21.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.913725490196078 1 0.788235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_sr21.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_sr21"
    type="revolute">
    <origin
      xyz="0.222051464893497 0.012089124809175 0.00299999999999787"
      rpy="0 0 -0.00410256010962525" />
    <parent
      link="link_sr11" />
    <child
      link="link_sr21" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_sr12">
    <inertial>
      <origin
        xyz="0.105444812837507 0.000176208657509766 -0.000100750414621015"
        rpy="0 0 0" />
      <mass
        value="0.0987537674712605" />
      <inertia
        ixx="7.4578693905301E-06"
        ixy="-5.27559576338692E-06"
        ixz="2.48734564842492E-06"
        iyy="0.000433153742795211"
        iyz="1.53285669171268E-07"
        izz="0.000437445202906457" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_sr12.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.992156862745098 1 0.00784313725490196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_sr12.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_sr12"
    type="revolute">
    <origin
      xyz="0.132000000000001 -0.109999999999999 0.0775"
      rpy="1.5707963267949 0 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="link_sr12" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0.3"
      upper="1.5"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_sr22">
    <inertial>
      <origin
        xyz="-0.112639665983577 0.0116816893327386 -0.00283864972292769"
        rpy="0 0 0" />
      <mass
        value="0.10234077696469" />
      <inertia
        ixx="7.71497397571768E-06"
        ixy="6.76081995297645E-07"
        ixz="-3.2397497932253E-06"
        iyy="0.000479099662701504"
        iyz="9.31990435048429E-08"
        izz="0.000483611718898698" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_sr22.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.913725490196078 1 0.788235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_sr22.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_sr22"
    type="revolute">
    <origin
      xyz="0.222051464893497 0.0120891248091607 0.00300000000000081"
      rpy="0 0 -0.00410256010968941" />
    <parent
      link="link_sr12" />
    <child
      link="link_sr22" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0.3"
      upper="1.5"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_sr13">
    <inertial>
      <origin
        xyz="0.105444812837509 0.000176208657501259 -0.000100750414621514"
        rpy="0 0 0" />
      <mass
        value="0.0987537674712604" />
      <inertia
        ixx="7.4578693905294E-06"
        ixy="-5.27559576335651E-06"
        ixz="2.48734564842972E-06"
        iyy="0.000433153742795211"
        iyz="1.53285669171147E-07"
        izz="0.000437445202906457" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_sr13.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.992156862745098 1 0.00784313725490196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_sr13.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_sr13"
    type="revolute">
    <origin
      xyz="0.109999999999999 0.132000000000001 0.0775"
      rpy="1.5707963267949 0 -3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="link_sr13" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0.3"
      upper="1.5"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_sr23">
    <inertial>
      <origin
        xyz="-0.112639665983575 0.0116816893327377 -0.00283864972292935"
        rpy="0 0 0" />
      <mass
        value="0.102340776964689" />
      <inertia
        ixx="7.71497397571766E-06"
        ixy="6.76081995297459E-07"
        ixz="-3.2397497932253E-06"
        iyy="0.000479099662701504"
        iyz="9.31990435048364E-08"
        izz="0.000483611718898697" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_sr23.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.913725490196078 1 0.788235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_sr23.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_sr23"
    type="revolute">
    <origin
      xyz="0.222051464893498 0.0120891248091449 0.00300000000000061"
      rpy="0 0 -0.00410256010976083" />
    <parent
      link="link_sr13" />
    <child
      link="link_sr23" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0.3"
      upper="1.5"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_sr14">
    <inertial>
      <origin
        xyz="0.105444812837516 0.000176208657505159 -0.000100750414618767"
        rpy="0 0 0" />
      <mass
        value="0.0987537674712606" />
      <inertia
        ixx="7.45786939052844E-06"
        ixy="-5.27559576331834E-06"
        ixz="2.48734564842811E-06"
        iyy="0.000433153742795212"
        iyz="1.53285669170904E-07"
        izz="0.000437445202906457" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_sr14.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.992156862745098 1 0.00784313725490196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_sr14.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_sr14"
    type="revolute">
    <origin
      xyz="-0.132000000000001 0.109999999999999 0.0775"
      rpy="1.5707963267949 0 -1.57079632679489" />
    <parent
      link="base_link" />
    <child
      link="link_sr14" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0.3"
      upper="1.5"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_sr24">
    <inertial>
      <origin
        xyz="-0.112590793367584 0.0121437007297893 -0.00283864972292752"
        rpy="0 0 0" />
      <mass
        value="0.10234077696469" />
      <inertia
        ixx="7.72845507845039E-06"
        ixy="2.60992155812011E-06"
        ixz="-3.23934017554948E-06"
        iyy="0.000479086181598772"
        iyz="1.06489490172837E-07"
        izz="0.000483611718898699" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_sr24.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.913725490196078 1 0.788235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_sr24.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_sr24"
    type="revolute">
    <origin
      xyz="0.222051464893499 0.012089124809125 0.00300000000000075"
      rpy="0 0 0" />
    <parent
      link="link_sr14" />
    <child
      link="link_sr24" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0.3"
      upper="1.5"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_R">
    <inertial>
      <origin
        xyz="0 2.05998412772246E-18 0"
        rpy="0 0 0" />
      <mass
        value="0.11437626123491" />
      <inertia
        ixx="5.09054247575144E-05"
        ixy="-1.7185752935237E-37"
        ixz="1.06053195127208E-21"
        iyy="5.09054247575144E-05"
        iyz="-7.00213903063556E-22"
        izz="9.44863018974847E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/wheel_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/wheel_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_wheel_R"
    type="revolute">
    <origin
      xyz="-0.125 -0.16 0.000499999999999992"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_R" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_L">
    <inertial>
      <origin
        xyz="1.38777878078145E-17 -2.71050543121376E-18 0"
        rpy="0 0 0" />
      <mass
        value="0.11437626123491" />
      <inertia
        ixx="5.09054247575144E-05"
        ixy="-2.4235824134901E-39"
        ixz="-3.92715328155378E-21"
        iyy="5.09054247575144E-05"
        iyz="3.09917675480903E-36"
        izz="9.44863018974847E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/wheel_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/wheel_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_wheel_L"
    type="revolute">
    <origin
      xyz="-0.125 0.16 0.000499999999999995"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="ga">
    <inertial>
      <origin
        xyz="0.00920837954792506 -0.00116852269464995 -0.0107746291176065"
        rpy="0 0 0" />
      <mass
        value="0.00691409738978907" />
      <inertia
        ixx="1.50369438794209E-06"
        ixy="-4.67105320288087E-08"
        ixz="1.72926872593006E-07"
        iyy="1.05832525953291E-06"
        iyz="-1.74963475237264E-08"
        izz="1.01410967444944E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/ga.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/ga.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_ga"
    type="revolute">
    <origin
      xyz="0.182204093751995 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="ga" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_3">
    <inertial>
      <origin
        xyz="-2.77555756156289E-17 -3.46944695195361E-18 0"
        rpy="0 0 0" />
      <mass
        value="0.00795501647667156" />
      <inertia
        ixx="4.55759880051928E-07"
        ixy="-1.23248844929247E-23"
        ixz="-1.42275065359121E-22"
        iyy="4.55759880051928E-07"
        iyz="1.84311207392495E-22"
        izz="7.60952633708288E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/wheel_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/wheel_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_wheel3"
    type="revolute">
    <origin
      xyz="0.012385518488979 -0.00149025686129269 -0.0249996271077275"
      rpy="-1.5707963267949 0 -0.102617805790671" />
    <parent
      link="ga" />
    <child
      link="wheel_3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-1.30356034530538E-15 1.17436161904316E-15 -0.00490687379603598"
        rpy="0 0 0" />
      <mass
        value="0.784333797437522" />
      <inertia
        ixx="0.00409565378781093"
        ixy="9.5698179427488E-19"
        ixz="6.41770540348838E-20"
        iyy="0.00409565378781094"
        iyz="-2.05216033674339E-18"
        izz="0.00817633141291072" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="prismatic">
    <origin
      xyz="0 0 0.106678249618277"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.44"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="-1.95366571994709E-17 1.0783280901964E-16 0.0301090649005537"
        rpy="0 0 0" />
      <mass
        value="0.28679331350207" />
      <inertia
        ixx="0.000298034527963939"
        ixy="4.81749988750883E-21"
        ixz="-1.02901150918407E-20"
        iyy="0.000370248108655937"
        iyz="-2.76280078546272E-20"
        izz="0.000270987787715891" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 1 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0.000962225911754787" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.0853195981536927 0.00113653574434577 -8.20967534620599E-05"
        rpy="0 0 0" />
      <mass
        value="0.497898478741613" />
      <inertia
        ixx="0.000398817084416377"
        ixy="-4.36381150415708E-05"
        ixz="2.94069699984918E-06"
        iyy="0.00367414390202758"
        iyz="4.19897379927305E-08"
        izz="0.00345495320961099" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 1 0.788235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0 0 0.05"
      rpy="1.5707963267949 0 -0.000962225911765263" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="-0.00096222576328123 0 -0.999999537060683" />
    <limit
      lower="0"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="0.0631057040216014 -8.20928808265009E-09 -1.84520566881563E-09"
        rpy="0 0 0" />
      <mass
        value="0.427287364630589" />
      <inertia
        ixx="0.000159415430606336"
        ixy="6.13459037711393E-10"
        ixz="-1.48046565399525E-10"
        iyy="0.00174869550045757"
        iyz="7.88246843459023E-06"
        izz="0.00172521396624461" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 1 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0.200048866595845 0.00266483542377308 -0.0001924922624659"
      rpy="-0.295608068156452 0.000962221108556715 0.00315967556313662" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 -0.291324505694131 0.956624290085753" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="0.0221844120022513 -4.83491059133367E-08 7.09919444324275E-08"
        rpy="0 0 0" />
      <mass
        value="0.0592833623022146" />
      <inertia
        ixx="1.2554750753311E-05"
        ixy="-5.34138204894988E-11"
        ixz="1.32105876750387E-10"
        iyy="3.1571442608854E-05"
        iyz="-6.85971352314453E-08"
        izz="3.31344117924999E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 1 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0.15 0 0"
      rpy="0.251906378391343 -0.00549689269092315 0.0180513465975973" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 -0.0436412506776905 0.999047266769339" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="gripper1">
    <inertial>
      <origin
        xyz="-0.0242889401203149 0 0.00643114679017202"
        rpy="0 0 0" />
      <mass
        value="0.00889698927943615" />
      <inertia
        ixx="3.20085040350138E-07"
        ixy="9.67801316687042E-23"
        ixz="1.3731606023636E-07"
        iyy="1.21347486209994E-06"
        iyz="-4.21874872892339E-24"
        izz="1.23386874903297E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/Gripper1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.752941176470588 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/Gripper1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_gripper1"
    type="prismatic">
    <origin
      xyz="0.093041 -2.978E-05 0.00068173"
      rpy="0.043655 0 0" />
    <parent
      link="link_5" />
    <child
      link="gripper1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-0.1"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="gripper2">
    <inertial>
      <origin
        xyz="-0.0242889401203149 -2.77555756156289E-17 0.00643114679017202"
        rpy="0 0 0" />
      <mass
        value="0.00889698927943615" />
      <inertia
        ixx="3.20085040350138E-07"
        ixy="2.48154183765908E-24"
        ixz="1.3731606023636E-07"
        iyy="1.21347486209994E-06"
        iyz="2.48948677700409E-23"
        izz="1.23386874903296E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/Gripper2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.752941176470588 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/nguyen1/ros2_rnea_control/src/my_sr_arm_rb/meshes1/Gripper2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_gripper2"
    type="prismatic">
    <origin
      xyz="0.093041 -1.3971E-05 0.00031983"
      rpy="-3.0979 0 0" />
    <parent
      link="link_5" />
    <child
      link="gripper2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.1"
      effort="0"
      velocity="0" />
  </joint>
  <!-- ======================================================================= -->
  <!-- ROS 2 CONTROL CONFIGURATION & GAZEBO PLUGIN -->
  <!-- ======================================================================= -->
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>

    <!-- JOINT 1 -->
    <joint name="joint_1">
      <command_interface name="effort"><param name="min">0</param><param name="max">100</param></command_interface>
      <state_interface name="position"/><state_interface name="velocity"/><state_interface name="effort"/>
    </joint>
    <!-- JOINT 2 -->
    <joint name="joint_2">
      <command_interface name="effort"><param name="min">-10</param><param name="max">10</param></command_interface>
      <state_interface name="position"/><state_interface name="velocity"/><state_interface name="effort"/>
    </joint>
    <!-- JOINT 3 -->
    <joint name="joint_3">
      <command_interface name="effort"><param name="min">-10</param><param name="max">10</param></command_interface>
      <state_interface name="position"/><state_interface name="velocity"/><state_interface name="effort"/>
    </joint>
    <!-- JOINT 4 -->
    <joint name="joint_4">
      <command_interface name="effort"><param name="min">-10</param><param name="max">10</param></command_interface>
      <state_interface name="position"/><state_interface name="velocity"/><state_interface name="effort"/>
    </joint>
    <!-- JOINT 5 -->
    <joint name="joint_5">
      <command_interface name="effort"><param name="min">-10</param><param name="max">10</param></command_interface>
      <state_interface name="position"/><state_interface name="velocity"/><state_interface name="effort"/>
    </joint>
  </ros2_control>

  <gazebo reference="laser_link">
    <sensor type="ray" name="hokuyo_laser_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>20</update_rate>
      <ray><scan><horizontal><samples>720</samples><resolution>1</resolution><min_angle>-3.1416</min_angle><max_angle>3.1416</max_angle></horizontal></scan>
        <range><min>0.2</min><max>10.0</max><resolution>0.01</resolution></range>
        <noise><type>gaussian</type><mean>0.0</mean><stddev>0.01</stddev></noise>
      </ray>
      <plugin name="scan" filename="libgazebo_ros_ray_sensor.so">
        <ros><remapping>~/out:=/scan</remapping></ros>
        <output_type>sensor_msgs/LaserScan</output_type>
        <frame_name>laser_link</frame_name>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo>
    <self_collide>false</self_collide>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>PATH_TO_MY_CONFIG</parameters>
    </plugin>
  </gazebo>
</robot>